<div style="height: 100%; width: 100%; display: flex; align-items: center;justify-content: center;">
  <div style="font-size: 50px; position: relative; margin-left: -32px;">
    <span style="position: absolute; bottom: 11px; left: -40px;"
          id="dotNetText">
      <span style="font-weight: 500;"
            id="dotNetDot">.</span>
      <span style="font-weight: 400;">Net</span>
    </span>
    <span style="font-weight: 100; position: absolute; top: 11px;"
          id="lessonsText">Lessons</span>
  </div>
</div>
