<mat-toolbar>
  <button mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="isSideNavOpen = !isSideNavOpen">
    <mat-icon>menu</mat-icon>
  </button>
  <span>.Net Lessons</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side"
               [opened]="isSideNavOpen">
    <app-side-menu-nav></app-side-menu-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
